  .letter {
      margin: 10px;
      width:50px;
      font-size:2em;
      cursor: default;
      background-color: #e7c146;
      display:inline-block;
  }
  
  .letter-button-color {
      color: white;
  }

  #buttons{
    overflow: auto;
  }
  
  .hiddenLetter {
      display: inline;
  }
  
  .container {
    width:100%;
      text-align: center;
  }
  
  .col-md-4 {
      display: inline;
  }
  
  .btn, .btn:active,.btn:active:focus{
      font-size: 30px;
      color: #fff;
      background-color: #340865;
      border: none;
      margin:20px;
  }
  
  .btn:hover, .btn:focus{
      background-color: #220542;
      border-color: white;
      color:#A2A7A5;
  }
  .btn:focus{
    color:#fff;
  }
  
  #winsId {
      color: #00a800;
      font-weight: bolder;
      font-size: 30px;
      text-decoration: none;
  }
  
  #lossesId {
      color: red;
      font-weight: bolder;
      font-size: 30px;
      text-decoration: none;
  }
  
  #guessesId {
      font-weight: bolder;
      font-size: 30px;
      text-decoration: none;
  }
  
  ::-moz-selection {
      background: #340865;
      color: #fff;
      text-shadow: none;
  }
  
  ::selection {
      background: #340865;
      color: #fff;
      text-shadow: none;
  }
  
  body {
      font-family: 'Titillium Web', sans-serif;
      color:white;
      font-weight: 400;
      font-size: 16px;
      background-color: #e7c146;
      -webkit-font-smoothing: antialiased;
      -webkit-overflow-scrolling: touch;
        margin-bottom: 90px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-weight: 500;
      color: #ffffff;
  }
  h1, #secretWordId{
    font-weight: 700;
  }
  h4{
    margin-bottom:0px;
    margin-top:20px;
  }
  h1{
    margin-top: 0px;
  }
  .jumbotron {
      background-color: #e3d2f5;
      padding-top:0px;
      padding-bottom: 10px;
      background-image: url("../images/cover1.jpg");
      background-size: cover;
      margin-bottom:5px;
  }
.container h3{
  font-weight:700;
  color:#340865;
  margin:0 0 0 0;
  text-decoration: underline;
}
#guessesId{
  color:white;
}
/*sticky footer code*/
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  font-size:1.1em;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  color:#A2A7A5;
  background-color: #340865;
  display:flex;
  align-items:center;
  justify-content: center;
     border-top:10px solid #635380;
}